.employee-list {
  padding: 2em;
}

.employee-list_table {
  width: 100%;
  border: 1px solid map-get($background-colors, table-heading-border);
  -moz-box-shadow: inset 0 0 5px #888888;
  -webkit-box-shadow: inset 0 0 5px #888888;
  box-shadow: inset 0 0 5px #888888;
  text-align: center;
  @media (min-width: 980px) {
    width: 90%;
  }

  table,
  td,
  th {
    padding: 0.7em;
  }

  tr {
    font-size: 0.8em;
    color: map-get($font-colors, main);
    @media (min-width: 480px) {
      font-size: 1em;
    }
    @media (min-width: 768px) {
      font-size: 1.125em;
    }
  }

  .employee-data_remove {
    div:first-of-type {
      color: map-get($font-colors, highlight);
      font-size: 1.25em;
      font-weight: bold;
    }
  }

  tr:nth-of-type(even) {
    background: map-get($background-colors, table-rows-even);

    &:hover {
      background: map-get($background-colors, table-rows-highlight);
      cursor: pointer;
    }
  }

  tr:nth-of-type(odd) {
    background: map-get($background-colors, table-rows-odd);

    &:hover {
      background: map-get($background-colors, table-rows-highlight);
      cursor: pointer;
    }
  }

  caption {
    font-size: 1.5em;
    color: map-get($font-colors, highlight);
    padding: 1.25em 0;
    text-align: left;
    font-weight: 900;
    @media (min-width: 640px) {
      font-size: 2em;
    }
  }

  .employee-list_table-heading {
    text-transform: uppercase;

    th {
      font-size: 0.8em;
      background: map-get($background-colors, table-heading);
      color: map-get($font-colors, table-heading);
      border-collapse: collapse;
      @media (min-width: 480px) {
        font-size: 1em;
      }
      @media (min-width: 768px) {
        font-size: 1.125em;
      }
    }
  }
}
