.employee-data {
  position: relative;

  .employee-data_description {
    margin-top: 1.5em;
    margin-left: -6.5em;
    position: absolute;
    display: none;
    text-align: center;
    font-size: .8em;
    width: 10em;
    height: 4.5em;
    border: 1px solid map-get($background-colors, table-heading);
    border-radius: 10px;
    background: map-get($background-colors, table-rows-even);
    @media (min-width: 640px) {
      width: 11.5em;
      height: 5em;
      font-size: 1em;
    }
    @media (min-width: 1000px) {
      width: 12.5em;
    }
  }

  .employee-data_description::after {
    content: "";
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-bottom: 0.7em solid map-get($background-colors, table-heading);
    position: absolute;
    top: -.7em;
    left: 5.5em;
  }

  &:hover {
    .employee-data_description {
      display: block;
    }
  }
  .employee-data_allert-message {
    font-size: .7rem;
    text-transform: uppercase;
    color: map-get($font-colors, header);
    position: absolute;
    left: 1.5rem;
    bottom: 1rem;
    text-align: center;
    background: map-get($background-colors, table-heading);
    min-height: 2em;
    width: 80%;
    padding: .25rem;
    border-radius: 5px;
    .employee-data_allert-message_image {
      background: url('../images/alert-icon.jpg') no-repeat center/contain;
      width: 15%;
      height: 2em;
      float: left;
    }
    p {
      width: 75%;
      float: left;
      text-align: center;
    }
    @media (min-width: 840px) and (orientation: landscape){
      font-size: .9rem;
      width: 50vw;
    }
    @media (min-width: 980px) and (orientation: landscape){
      width: 30vw;
    }
  }
}
