.navigation {
  min-height: 3.5em;
  padding: 0.7em;
  width: 100%;
  background: map-get($background-colors, header);
  color: map-get($font-colors, header);

  .navigation-logo {
    font-size: 0.8em;
    word-spacing: 0.5em;
    @media (min-width: 380px) {
      font-size: 0.9em;
    }
    @media (min-width: 640px) {
      font-size: 1.25em;
    }

    span {
      font-size: 0.9em;
      color: map-get($font-colors, highlight);
      @media (min-width: 640px) {
        font-size: 1.25em;
      }
    }
  }

  .navigation-user {
    float: right;
    padding-right: 1em;
    p {
      display: inline-block;
      padding-right: .5rem;
      font-size: 0.7rem;
      @media (min-width: 380px) {
        font-size: 0.9rem;
      }
      @media (min-width: 640px) {
        font-size: 1.25rem;
      }
    }
    .navigation-user_select {
      font-size: 0.7rem;
      @media (min-width: 380px) {
        font-size: 0.9rem;
      }
      @media (min-width: 640px) {
        font-size: 1.25rem;
      }
    }
  }
  .navigation-language {
    button {
      margin-right: .2rem;
      width: 2rem;
      text-align: center;
      font-size: .5rem;
      color: map-get($font-colors, main);
      border-radius: .3rem;
      border: none;
      @media (min-width: 380px) {
        width: 2.5rem;
        font-size: 0.9rem;
      }
      @media (min-width: 640px) {
        width: 3rem;
        font-size: 1.25rem;
      }
    }
  }
}
