.navigation {
  min-height: 3.5em;
  padding: 0.7em;
  width: 100%;
  background: map-get($background-colors, header);
  color: map-get($font-colors, header);

  .navigation-logo {
    font-size: .8rem;
    word-spacing: 0.5rem;
    padding-right: .5rem;
    @media (min-width: 380px) {
      font-size: 0.9rem;
    }
    @media (min-width: 640px) {
      font-size: 1.25rem;
    }

    span {
      font-size: 0.9rem;
      font-weight: bold;
      color: map-get($font-colors, highlight);
      @media (min-width: 640px) {
        font-size: 1.25rem;
      }
    }
  }

  .navigation-user {
    padding-right: 1rem;
    display: flex;
    align-items:center;
    justify-content: center;
    p {
      display: inline-block;
      padding-right: .5rem;
      font-size: 0.7rem;
      @media (min-width: 380px) {
        font-size: 0.9rem;
      }
      @media (min-width: 640px) {
        font-size: 1.25rem;
      }
    }
    .navigation-user_select {
      font-size: 0.7rem;
      float: right;
      @media (min-width: 380px) {
        font-size: 0.9rem;
      }
      @media (min-width: 640px) {
        font-size: 1.25rem;
      }
    }
  }
  .navigation-language {
    border-left: 1px solid map-get($background-colors, table-rows-even);
    padding-left: .5rem;
    button {
      margin-right: .2rem;
      width: 2rem;
      min-height: 1rem;
      text-align: center;
      font-size: 0.7rem;
      background: transparent;
      border: none;
      &:hover {
        cursor: pointer;
        opacity: .8;
      }
      &:focus {
        outline-color: map-get($background-colors, table-rows-highlight);
      }
      @media (min-width: 380px) {
        width: 2.5rem;
        font-size: 0.9rem;
      }
      @media (min-width: 640px) {
        width: 3rem;
        font-size: 1.25rem;
      }
    }
  }
}
