.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;

  .row {
    @extend %clearfix;
    width: 100%;

    [class*='col'] {
      width: 100%;

    }

    @media (min-width: $breakpoint) {
      @for $i from 1 through $columns {
        .col-#{$i} {
          float: left;
          width: 100% / $columns * $i;
        }
      }
    }
  }
}
